# Variables de entorno y credenciales (¡LO MÁS IMPORTANTE!)
.env
.env.*

# Entorno virtual de Python
.venv/
venv/
env/
ENV/

# Base de datos SQLite local (archivos y carpeta instance)
*.db
*.sqlite3
instance/

# Archivos compilados y caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de editores / IDEs
.vscode/
.idea/

# Archivos subidos por usuarios (uploads)
static/uploads/*
!static/uploads/.gitkeep