# Entorno virtual y VS Code
.venv/
.vscode/

# Base de datos local (SQLite)
instance/*.db

# Archivos estáticos dinámicos (imágenes subidas)
static/uploads/*
!static/uploads/.gitkeep

# Cache de Python
__pycache__/
*.pyc