{%extends 'base.html'%}

{%block title%}VALLECITOS-MENDOZA{%endblock%}

{% block content %}

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MFRZG494');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16884791919"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-16884791919');
    </script>
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-16884791919/gNN3CMn_yaIaEO_0pfM-',
                'event_callback': callback
            });
            return false;
        }
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '637563278683166');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=637563278683166&ev=PageView&noscript=1" /></noscript>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFRZG494" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
        <div class="section-titles-subtitles">
            <h1 class="section-title">CUATROMILES DE VALLECITOS - MENDOZA</h1>
        </div>
        <section class="info">
            <div class="info-grid">
                <div class="info-1">
                    <div>
                        <h2>ASCENSO CERRO ADOLFO CALLE (4200 MSNM) Y CERRO STEPANEK (4120 MSNM).</h2>
                        <h4>EXPEDICIÓN 4 DÍAS / 3 NOCHES</h4>
                        <ul>
                            <h4>PRÓXIMAS FECHAS:</h4>
                            <h4 class="fechas">21, 22, 23 Y 24 DE MARZO</h4>
                        </ul>
                    </div>
                </div>
                <div class="info-2">
                    <ul>
                        <li>Punto de encuentro: Estación de servicios de Potrerillos, Mendoza.</li>
                        <li>Horario: 9:30 Hs</li>
                        <li>Dificultad física: Exigente (Terreno con grandes desniveles, extensas jornadas de caminata
                            que pueden extenderse hasta o más de 10 horas, en ocasiones con el peso de las mochilas en
                            la espalda. Recomendable tener experiencia previa en jornadas largas de trekking y con
                            grandes desniveles. Se requiere buena salud, buena condición física y predisposición al
                            esfuerzo).</li>
                        <li>Dificultad Técnica: Moderada (tránsito por pendientes de roca y nieve. Se requiere de
                            progresión con ayuda de las manos en determinados sectores).</li>
                        <li>Recorrido: 19 kms.</li>
                        <li>Hora de finalización: 14 hs del último día.</li>
                        <li>Edad: A partir de 18 años.</li>
                        <li>Grupos reducidos. Cupos limitados. Reservá con anticipación y congela precios.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="excursion-img">
                <div class="vallecitos-1"></div>
                <div class="vallecitos-2"></div>
                <div class="vallecitos-3"></div>
            </div>
        </section>
        <section class="info">
            <div class="info-grid">
                <div class="info-1">
                    <div>
                        <h4>¿Qué incluye?</h4>
                        <ul>
                            <li>Guía profesional habilitado durante toda la excursión.</li>
                            <li>Seguro de responsabilidad civil y AP.</li>
                            <li>Pernocte del día 1 en alojamiento de montaña.</li>
                            <li>Pernocte en carpas de alta montaña (Cada pasajero debe contar con su bolsa de dormir y
                                aislante)</li>
                            <li>Botiquín grupal y personal capacitado en primeros auxilios.</li>
                            <li>Todas las comidas durante la travesía. (Desde almuerzo del día 1 hasta el almuerzo final
                                del día 4).</li>
                        </ul>
                    </div>

                </div>
                <div class="info-2">
                    <div>
                        <h4>¿Que no incluye?</h4>
                        <ul>
                            <li>Servicio de Mulas de carga.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4 class="section-titles-subtitles section-title">OPCIONAL TRASLADOS</h4>
            <ul class="equipamiento">
                <li>Podes llegar en vehículo propio hasta Vallecitos, punto de encuentro estación de servicios de
                    Potrerillos (Descuento de 7,5% llegando en vehículo a Vallecitos.).</li>
                <li>Si no contas con vehículo ofrecemos transfer desde estación de servicios de Potrerillos, Mendoza.
                    Podes llegar a Potrerillos desde la terminal de Mendoza a través de la empresa Andesmar.</li>
            </ul>
        </section>
        <section>
            <h3 class="section-titles-subtitles section-title">DESCRIPCIÓN</h3>
            <div class="descripcion">
                <p>Vallecitos, la escuela de montaña por excelencia. Este icónico lugar de Mendoza se caracteriza por la
                    gran cantidad de cumbres que van desde los 3 mil a los 6 mil metros de altura. En esta ocasión
                    intentaremos dos cumbres de más de cuatro mil metros: el Cerro Adolfo Calle de 4200 msnm y el
                    Stepanek de 4170 msnm. Una expedición ideal para iniciarse en el mundo del montañismo de altura.
                    Expedición de 4 días y 3 noches. Incluye pensión completa, primera noche en alojamiento de montaña,
                    segunda y tercer noche en carpas de alta montaña. ¿Te gustan los desafíos? Entonces esta expedición
                    es para vos.</p>
            </div>
        </section>
        <section class="section-precio">
            <h3 class="section-titles-subtitles section-title">PRECIO DESDE POTRERRILLOS, MENDOZA. SALIDAS DE MARZO</h3>
            <div class="info-grid precio">
                <div class="precio-carta precio-1">
                    <div class="precio-subtitulo">
                        <p>Efectivo - Transferencia</p>
                        <p>$340.000 x Persona</p>
                    </div>
                    <div>
                        <ul>
                            <li>Se reserva abonando 30%.</li>
                            <li>Resto durante la excursión efectivo o hasta el día previo vía transferencia (podés ir
                                pagando tu viaje en pequeñas entregas hasta la fecha del viaje).</li>
                            <li>Cupos limitados.</li>
                            <li>Grupos reducidos</li>
                            <li>Reservá con anticipación.</li>
                        </ul>
                        <a href="https://api.whatsapp.com/send?phone=+3541207389&text=Hola!%20Quiero%20inscribirme%20a%20la%20salida:%20%20VALLECITOS%20-%20EFECTIVO/TRANSFERENCIA"
                            class="trekking_cba_boton botones" alt="Reserva via whatsapp">RESERVA VÍA WHATSAPP</a>
                    </div>
                </div>
                <div class="precio-carta precio-2">
                    <div class="precio-subtitulo">
                        <p>Tarjeta de crédito</p>
                        <p>3 Cuotas x $130.000</p>
                        <p>6 Cuotas x $70.000</p>
                    </div>
                    <div>
                        <ul>
                            <li>Se reserva abonando el total a través de link de pago.</li>
                            <li>Cupos Limitados.</li>
                            <li>Grupos reducidos.</li>
                            <li>Reservá con anticipación y congelá precios.</li>
                        </ul>
                        <a href="https://api.whatsapp.com/send?phone=+3541207389&text=Hola!%20Quiero%20inscribirme%20a%20la%20salida:%20%20VALLECITOS%20-%20CREDITO"
                            class="trekking_cba_boton botones" alt="Reserva via whatsapp">RESERVA VÍA WHATSAPP</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cartel-consulta">
            <div>
                <p>Realizá tus reservas con anticipación. Los cupos de cada excursión son limitados</p>
            </div>
            <div>
                <h4>Consulta por Whatsapp</h4>
                <a href="https://api.whatsapp.com/send?phone=+3541207389&text=Hola!%20Quiero%20más%20info%20de%20la%20salida:%20"
                    target="_blank">
                    <svg class="boton-insta" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                        viewBox="0 0 48 48">
                        <path fill="#fff"
                            d="M4.9,43.3l2.7-9.8C5.9,30.6,5,27.3,5,24C5,13.5,13.5,5,24,5c5.1,0,9.8,2,13.4,5.6	C41,14.2,43,18.9,43,24c0,10.5-8.5,19-19,19c0,0,0,0,0,0h0c-3.2,0-6.3-0.8-9.1-2.3L4.9,43.3z">
                        </path>
                        <path fill="#fff"
                            d="M4.9,43.8c-0.1,0-0.3-0.1-0.4-0.1c-0.1-0.1-0.2-0.3-0.1-0.5L7,33.5c-1.6-2.9-2.5-6.2-2.5-9.6	C4.5,13.2,13.3,4.5,24,4.5c5.2,0,10.1,2,13.8,5.7c3.7,3.7,5.7,8.6,5.7,13.8c0,10.7-8.7,19.5-19.5,19.5c-3.2,0-6.3-0.8-9.1-2.3	L5,43.8C5,43.8,4.9,43.8,4.9,43.8z">
                        </path>
                        <path fill="#cfd8dc"
                            d="M24,5c5.1,0,9.8,2,13.4,5.6C41,14.2,43,18.9,43,24c0,10.5-8.5,19-19,19h0c-3.2,0-6.3-0.8-9.1-2.3	L4.9,43.3l2.7-9.8C5.9,30.6,5,27.3,5,24C5,13.5,13.5,5,24,5 M24,43L24,43L24,43 M24,43L24,43L24,43 M24,4L24,4C13,4,4,13,4,24	c0,3.4,0.8,6.7,2.5,9.6L3.9,43c-0.1,0.3,0,0.7,0.3,1c0.2,0.2,0.4,0.3,0.7,0.3c0.1,0,0.2,0,0.3,0l9.7-2.5c2.8,1.5,6,2.2,9.2,2.2	c11,0,20-9,20-20c0-5.3-2.1-10.4-5.8-14.1C34.4,6.1,29.4,4,24,4L24,4z">
                        </path>
                        <path fill="#40c351"
                            d="M35.2,12.8c-3-3-6.9-4.6-11.2-4.6C15.3,8.2,8.2,15.3,8.2,24c0,3,0.8,5.9,2.4,8.4L11,33l-1.6,5.8	l6-1.6l0.6,0.3c2.4,1.4,5.2,2.2,8,2.2h0c8.7,0,15.8-7.1,15.8-15.8C39.8,19.8,38.2,15.8,35.2,12.8z">
                        </path>
                        <path fill="#fff" fill-rule="evenodd"
                            d="M19.3,16c-0.4-0.8-0.7-0.8-1.1-0.8c-0.3,0-0.6,0-0.9,0	s-0.8,0.1-1.3,0.6c-0.4,0.5-1.7,1.6-1.7,4s1.7,4.6,1.9,4.9s3.3,5.3,8.1,7.2c4,1.6,4.8,1.3,5.7,1.2c0.9-0.1,2.8-1.1,3.2-2.3	c0.4-1.1,0.4-2.1,0.3-2.3c-0.1-0.2-0.4-0.3-0.9-0.6s-2.8-1.4-3.2-1.5c-0.4-0.2-0.8-0.2-1.1,0.2c-0.3,0.5-1.2,1.5-1.5,1.9	c-0.3,0.3-0.6,0.4-1,0.1c-0.5-0.2-2-0.7-3.8-2.4c-1.4-1.3-2.4-2.8-2.6-3.3c-0.3-0.5,0-0.7,0.2-1c0.2-0.2,0.5-0.6,0.7-0.8	c0.2-0.3,0.3-0.5,0.5-0.8c0.2-0.3,0.1-0.6,0-0.8C20.6,19.3,19.7,17,19.3,16z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
            <div>
                <h4>SEGUINOS EN INSTAGRAM</h4>
                <a href="https://www.instagram.com/instintoviajero.trek" target="_blank" alt="Logo de instagram">
                    <svg class="boton-insta" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                        viewBox="0 0 48 48">
                        <radialGradient id="yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1" cx="19.38" cy="42.035" r="44.899"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fd5"></stop>
                            <stop offset=".328" stop-color="#ff543f"></stop>
                            <stop offset=".348" stop-color="#fc5245"></stop>
                            <stop offset=".504" stop-color="#e64771"></stop>
                            <stop offset=".643" stop-color="#d53e91"></stop>
                            <stop offset=".761" stop-color="#cc39a4"></stop>
                            <stop offset=".841" stop-color="#c837ab"></stop>
                        </radialGradient>
                        <path fill="url(#yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1)"
                            d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z">
                        </path>
                        <radialGradient id="yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2" cx="11.786" cy="5.54" r="29.813"
                            gradientTransform="matrix(1 0 0 .6663 0 1.849)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#4168c9"></stop>
                            <stop offset=".999" stop-color="#4168c9" stop-opacity="0"></stop>
                        </radialGradient>
                        <path fill="url(#yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2)"
                            d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z">
                        </path>
                        <path fill="#fff"
                            d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z">
                        </path>
                        <circle cx="31.5" cy="16.5" r="1.5" fill="#fff"></circle>
                        <path fill="#fff"
                            d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z">
                        </path>
                    </svg>
                </a>
            </div>
        </section>
        <section>
            <div class="cartel">
                <h4 class="importante">¡IMPORTANTE!</h4>
                <p>Descuento de 7,5% llegando en vehículo a Vallecitos.</p>
                <p>Informarnos cualquier afección física u cualquier otra dolencia o condición que pueda ser relevante
                    en el desarrollo de la actividad.</p>
            </div>
        </section>

        <section>
            <h3 class="section-titles-subtitles section-title">ITINERARIO</h3>
            <div class="descripcion ">
                <p><span class="span-dia">Día 1:</span> Encuentro en estación de servicios de la localidad de
                    Potrerillos. Viaje y recepción en alojamientos al pie de Vallecitos. Formas de llegar a Potrerillos:
                    vehículo propio o a través de la empresa Andesmar que tiene varias frecuencias al día desde la
                    ciudad de Mendoza, coincidentes con el horario de inicio. Día de charlas técnicas, chequeo de equipo
                    y caminata de aclimatación en los alrededores por la tarde. (2900 msnm).</p>
                <p><span class="span-dia">Día 2:</span> Desayuno bien temprano, preparación de equipo y últimos
                    preparativos para iniciar el ascenso (se reparten elementos de uso grupal para colaborar con el
                    porteo de equipo para la expedición). Marcha hacia los primeros campamentos de la quebrada, Veguitas
                    y Vega Superior. Instalación del campamento base y tarde libre para descanso, aclimatación y
                    pequeños recorridos por las inmediaciones de la quebrada. Merienda y cena en campamento. Este primer
                    día se recorren un total de 5 kilómetros con un desnivel positivo de 400 metros. Tiempo estimado de
                    marcha entre 3 y 4 horas.</p>
                <p><span class="span-dia">Día 3:</span> Jornada de intento de cumbre. Nos despertamos bien temprano y
                    post desayuno iniciaremos la jornada más exigente de la expedición. Comenzamos a ganar altura por
                    terrenos de fuertes pendientes, con sendas y huellas hasta alcanzar la cumbre del Cerro Adolfo Calle
                    para luego ascender el Stepanek. Después de la cumbre emprendemos un descenso ágil hasta el
                    campamento base, descanso, merienda, cena y pernocte en carpas. Este segundo día se recorren 9
                    kilómetros ida y vuelta, con un desnivel de 850 metros. Tiempo estimado de marcha 9 horas.</p>
                <p><span class="span-dia">Día 4:</span> Nos levantamos temprano por la mañana, post desayuno
                    desarmaremos campamento para luego comenzar el trekking de descenso hasta la zona de los refugios,
                    donde almorzaremos y daremos cierre a la expedición alrededor de las 14 horas. Fin de nuestros
                    servicios.</p>
                <p>Este es el itinerario ideal previsto para el ascenso. La elección del recorrido y la duración de cada
                    jornada quedan sujetos a diversos factores como condiciones meteorológicas, evaluación grupal por
                    parte del guía, exposición a riesgos.</p>
            </div>
        </section>
        <section>
            <h4 class="section-titles-subtitles section-title">EQUIPAMIENTO NECESARIO</h4>
            <ul class="equipamiento">
                <li>Botas de montaña trekking impermeables.</li>
                <li>1 Mochila con capacidad suficiente (mínimo 60 litros).</li>
                <li>1 Bolsa de dormir (ideal – 10º).</li>
                <li>1 aislante térmico.</li>
                <li>1 Campera de abrigo (Evitar camperas pesadas, ideal pluma o sintético)</li>
                <li>1 o 2 Buzo tipo polar (depende de la campera de abrigo).</li>
                <li>2 Remeras (las sintéticas/deportivas son más convenientes para la actividad)</li>
                <li>1 prenda impermeable (las capas impermeables de nylon, económicas, suelen ser muy eficientes si no
                    se cuenta con otra prenda).</li>
                <li>1 Pantalón de trekking.</li>
                <li>1 Gorro de lana, Guantes (las temperaturas bajan por la noche depende las condiciones del tiempo,
                    especialmente en cumbre o por la noche)</li>
                <li>3 pares de medias.</li>
                <li>1 Calzado extra para el campamento (pueden ser crocs, sandalias, etc).</li>
                <li>Protector solar (ideal FPS 50 como mínimo).</li>
                <li>Lentes de sol con protección UV (Indispensable).</li>
                <li>Gorra o sombrero (fundamental)</li>
                <li>Gorro y guantes de abrigo (ideal tipo esquí)</li>
                <li>Elementos de higiene personal.</li>
                <li>Linterna frontal.</li>
                <li>Medicamentos personales.</li>
                <li>Recipientes de agua (2,5 litros por persona).</li>
                <li>Recomendamos guardar la ropa en bolsas de nylon dentro de la mochila para asegurar la
                    impermeabilidad.</li>
            </ul>
        </section>
        <section class="preguntas">
            <h4 class="section-titles-subtitles section-title">PREGUNTAS FRECUENTES</h4>
            <ul>
                <li>¿Cómo están conformados los grupos?</li>
                <p>Los integrantes del grupo varían en cada salida. En ocasiones son personas que vienen solas, o en
                    pareja, entre amigos o en familia.</p>
                <li>¿Que cantidad de personas conforman el grupo?</li>
                <p>El mínimo de personas para la realización de la salida es de 3 (puede suspenderse la salida si no se
                    completa ese cupo). Grupos reducidos.</p>
                <li>¿Cómo es el pernocte?</li>
                <p>Primera noche en alojamiento de montaña, con comodidades. Segunda y tercer noche en carpas de alta
                    montaña. Necesario aislante térmico y una buena bolsa de dormir.</p>
                <li>¿Cuánta agua se debe llevar?</li>
                <p>Se recomienda recipientes con capacidad para 2,5 litros como mínimo . En el sendero de aproximación
                    tendremos puntos para recargar, no así la jornada de cumbre que no disponemos de agua sobre el
                    recorrido.</p>
                <li>¿Hay servicio de transporte hasta Vallecitos?</li>
                <p>No hay servicio de transportes. Ofrecemos la posibilidad de coordinar un transfer desde Potrerillos
                    en caso de no contar con medio de transporte. La empresa de transporte Andesmar tiene frecuencias
                    diarias hasta Potrerillos desde Mendoza Capital. Contactos: 0810 122 1122 –
                    gestionesatc@andesmar.com.ar . Los boletos pueden adquirirse en ventanilla, online o por teléfono.
                </p>
                <li>En caso de ir en vehículo propio ¿Dónde quedan?</li>
                <p>Los vehículos quedan en Vallecitos, en la zona de estacionamiento de los alojamientos que allí
                    funcionan.</p>
                <li>¿Se necesita preparación previa para realizar el ascenso?</li>
                <p>Este ascenso es una actividad pensada para personas con buena condición física, buena salud y mucha
                    predisposición al esfuerzo. Es muy recomendable tener experiencia previa en trekking de largas
                    jornadas, con peso de mochilas y con grandes desniveles.</p>
                <li>¿Me devuelven el dinero de la reserva si no asisto a la salida?</li>
                <p>Únicamente con aviso previo de por lo menos 15 días antes de la expedición. Pasado ese tiempo no
                    podremos devolver el dinero de la reserva, nuestra logística para este tipo de salidas incluye
                    reservas de servicios en diferentes lugares por lo que no es posible el reintegro.</p>
                <li>¿Se puede cancelar la salida?</li>
                <p>El organizador se reserva el derecho de cancelar la salida cuando el número de inscritos no sea el
                    suficiente, informando de tal situación con al menos 10 días de antelación. Pudiendo el pasajero
                    optar por la próxima salida o el reintegro total del importe pagado, no correspondiendo ningún otro
                    reintegro o indemnización por causa alguna. También puede cancelarse por cuestiones de seguridad
                    como contingencias meteorológicas que imposibiliten el desarrollo del programa.</p>
            </ul>
        </section>
    </main>
</body>
{% endblock %}